body {
  margin: 0;
  background-color: #edf2f5;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  background-color: white;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #7f8fa4;

}

.navbar-span {
  width: 80%;
  display: flex;
  img {
    padding: 12px;
    background-color: #1d94ed;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  p {
    padding-right: 30px;
    height:20px;
    color: #7f8fa4;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.navbar-search {
  width: 20%;
  text-align: right;
  input {
    height: 30px;
    width: 220px;
    margin: auto;
    border: 1px solid #7f8fa4;
    border-radius: 5px;
  }
  p {
    padding-left: 20px;
    padding-right: 20px;
    color: #7f8fa4;
  }
}

.flex {
  display: flex;
}

.container {
  width: 74%;
  background-color: white;
  margin: auto;
  border: solid 1px #7f8fa4;
  border-radius: 5px;
  margin-top: 25px;
  padding: 20px;
}

.container-question {
  h1 {
    font-size: 24px;
    color: #5e636f;
  }
  p {
    font-size: 16px;
    color: #5e636f;
    margin: 0;
    margin-bottom: 30px;
  }
  label {
    display: block;
  }
  textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: solid 1px #7f8fa4;
  }
}

.resolve {
  width: 90%;
  h1 {
    margin: 0;
  }
  h2 {
    font-size: 16px;
    color: #7f8fa4;
    margin: 0;
  }
}

.user-date {
  width: 30%;
  display: flex;
  button {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0074ce;
    border: solid 1px #00539c;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
  }
  p {
    font-size: 14px;
  }

  form {
    width: auto;
  }
}

.resolvegreen button {
  background-color: #36af47;
  color: white;
  border: solid 1px #2f933e;
}

.supprimer button {
  background-color: #af362c;
  color: white;
  border: solid 1px #7e2b23;
}

.user {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: #7f8fa4 1px solid;
  h2 {
    font-size: 14px;
    color: #afb8c8;
    margin: 0;
    padding-bottom: 10px;
  }
  p {
    margin: 0;
  }
  a {
    padding: 2px;
    background-color: #3f4aaf;
    color: white;
    border: solid 1px #3c479e;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
  }
}

button {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #38b249;
  border: solid 1px #287a36;
  cursor: pointer;
  margin-top: 5px;
  color: white;
  border-radius: 5px;
}

.right {
  text-align: right;
  padding-top: 20px;
}