body {
  margin: 0;
  background-color: #edf2f5;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("https://cdn.discordapp.com/attachments/450559026338594827/451390550076293130/Question.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.navbar {
  background-color: white;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #7f8fa4;
}

.navbar-span {
  width: 80%;
  display: flex;
  img {
    padding: 12px;
    background-color: #1d94ed;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  p {
    padding-right: 30px;
    height:20px;
    color: #7f8fa4;
  }
}

.navbar-search {
  width: 20%;
  text-align: right;
  input {
    height: 30px;
    width: 220px;
    margin: auto;
    border: 1px solid #7f8fa4;
    border-radius: 5px;
  }
  p {
    padding-right: 20px;
    color: #7f8fa4;
  }
}

.flex {
  display: flex;
}

.container {
  width: 74%;
  background-color: white;
  margin: auto;
  border: solid 1px #7f8fa4;
  border-radius: 5px;
  margin-top: 25px;
}

.container-question {
  padding: 10px;
  h1 {
    font-size: 24px;
    color: #5e636f;
  }
  p {
    font-size: 16px;
    color: #5e636f;
  }
  label {
    display: block;
  }
  textarea {
    width: 98%;
    height: 100px;
    border-radius: 5px;
    border: solid 1px #7f8fa4;
  }
  button {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #38b249;
    border: solid 1px #287a36;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
  }
  .resolve {
    display: flex;
    button {
      padding-right: 8px;
      padding-left: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #0074ce;
      border: solid 1px #00539c;
      cursor: pointer;
      color: white;
      border-radius: 5px;
      margin-right: 10px;
      margin-left: 50px;
    }
  }
}

.user-date {
  color: #7f8fa4;
  margin-left: 155px;
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}

.defaultSkin table.mceLayout{
  width: 100%;

}