doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        title Forum
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        link(rel='stylesheet', href='css/styles.css')

    body
        div(class="container")
            div(class="container-title")
                div(class="icon-mail")
                    img(src="icon/sent-mail.png")
                h1 Se connecter
            div(class="container-login")
                form(action='/login' method='post')
                    label(for='username-field') Sign in with your name
                    input(name='username', id='username-field')
                    label(for='password-field') Mot de passe
                    input(id='password-field' type='password' name='password')
                    button(type='submit') Envoyer
            div(class="social-network")
                h2 Login via social networks
                div(class="icon")
                    a(href="")
                        div(class="icon-twitter")
                            img(src="icon/twitter.png")
                    a(href="")
                        div(class="icon-facebook")
                            img(src="icon/facebook.png")
                    a(href="")
                        div(class="icon-pinterest")
                            img(src="icon/pinterest.png")
                    a(href="")
                        div(class="icon-dribbble")
                            img(src="icon/dribbble.png")
            div(class="account")
                a(href="/inscription") Don't have an account yet? Get Started
            div(class="forget")
                a(href="") Forgot Password?